*

!pandoc
!pandoc/filters/
!pandoc/templates/
!pandoc/templates/*.html
!pandoc/filters/*.lua

!slides
!slides/assets/
!slides/assets/*.jpg
!slides/assets/*.css
!slides/*.md
!slides/Makefile

!.gitignore
!Dockerfile
!README.md
