*

!pandoc
!pandoc/img/
!pandoc/filters/
!pandoc/templates/
!pandoc/img/*.png
!pandoc/templates/*.html
!pandoc/filters/*.lua
!pandoc/defaults/
!pandoc/defaults/*.yaml
!pandoc/defaults/*.tex

!slides
!slides/assets/
!slides/assets/*.jpg
!slides/assets/*.css
!slides/*.md
!slides/Makefile

!.gitignore
!Dockerfile
!README.md
